<div class="buttonAdd"><button mat-mini-fab color="primary" (click)="addAnnotation()">+</button></div>
<div class="card">
    <mat-card class="annotation" *ngFor="let lemb of lembrete | sortBy: 'asc':'date'">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="lemb.status == false" (click)="changeStatus(lemb, lemb.id)">Finalizar Pendência</button>
                <button mat-menu-item (click)="remove(lemb.id)">Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">{{lemb.date.seconds * 1000 | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">{{lemb.descricao}}
           </div>
        </div>
        <div class="footerCard">
            <img *ngIf="lemb.status == true" src="./assets/done_all-24px.svg"  width="18px">
            <img *ngIf="lemb.status == false" src="./assets/done-24px.svg"  width="18px">
        </div>
    </mat-card>
</div>