<div class="card">
    <mat-card class="annotation">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Finalizar Pendência</button>
                <button mat-menu-item>Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">11/10/2020</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
           </div>
        </div>
        <div class="footerCard">
            <img src="./assets/done_all-24px.svg"  width="18px">
        </div>
    </mat-card>
    <mat-card class="annotation">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Finalizar Pendência</button>
                <button mat-menu-item>Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">11/10/2020</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
            </div>
        </div>
        <div class="footerCard">
            <img src="./assets/done_all-24px.svg"  width="18px">
        </div>
    </mat-card>
    <mat-card class="annotation">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Finalizar Pendência</button>
                <button mat-menu-item>Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">11/10/2020</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
            </div>
        </div>
        <div class="footerCard">
            <img src="./assets/done_all-24px.svg"  width="18px">
        </div>
    </mat-card>
    <mat-card class="annotation">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Finalizar Pendência</button>
                <button mat-menu-item>Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">11/10/2020</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
            </div>
        </div>
        <div class="footerCard">
            <img src="./assets/done_all-24px.svg"  width="18px">
        </div>
    </mat-card>
    <mat-card class="annotation">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Finalizar Pendência</button>
                <button mat-menu-item>Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">11/10/2020</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
            </div>
        </div>
        <div class="footerCard">
            <img src="./assets/done_all-24px.svg"  width="18px">
        </div>
    </mat-card>
    <mat-card class="annotation">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Finalizar Pendência</button>
                <button mat-menu-item>Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">11/10/2020</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
            </div>
        </div>
        <div class="footerCard">
            <img src="./assets/done_all-24px.svg"  width="18px">
        </div>
    </mat-card>
    <mat-card class="annotation">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Finalizar Pendência</button>
                <button mat-menu-item>Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">11/10/2020</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
            </div>
        </div>
        <div class="footerCard">
            <img src="./assets/done_all-24px.svg"  width="18px">
        </div>
    </mat-card>
    <mat-card class="annotation">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Finalizar Pendência</button>
                <button mat-menu-item>Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">11/10/2020</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
            </div>
        </div>
        <div class="footerCard">
            <img src="./assets/done_all-24px.svg"  width="18px">
        </div>
    </mat-card>
    <mat-card class="annotation">
        <div class="data">
            <button mat-icon-button [matMenuTriggerFor]="menu"><img src="./assets/more_vert-24px.svg"
                    width="18px"></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Finalizar Pendência</button>
                <button mat-menu-item>Excluir</button>
            </mat-menu>
            <span style="float: right; padding: 12px 0 0 0;">11/10/2020</span>
        </div>
        <div class="discription" class="scrollbar" id="style-1">
            <div class="force-overflow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum tempore veritatis
            </div>
        </div>
        <div class="footerCard">
            <img src="./assets/done_all-24px.svg"  width="18px">
        </div>
    </mat-card>
</div>