<mat-card class="card">
    <div class="logo">iOdonto</div>
    <form [formGroup]="loginForm">

    <mat-form-field class="input">
      
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="email" formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field class="input">
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="senha" formControlName="senha">
      </mat-form-field>
      <br>
      <button (click)="login()" class="input" mat-raised-button color="primary" matBadgePosition="before" matBadgeColor="accent">
    Entrar
  </button>

</form>
</mat-card>
<ngx-loading-bar color="purple"></ngx-loading-bar>
